
/** General **/
.red {
    background-color: #CC3734;
}
.dark-gray {
    background-color: #707070;
}
.gray {
    background-color: #CBCACA;
}
ul li{
    list-style: none;
    color: #F1F1F1;
    font-size: 5vw;
    font-weight: lighter;
    margin-bottom: 12px;
}
ul {
    margin: 0;
    padding: 0;
}

/** specifics **/
.grades-divs {
    padding: 6vw 7vw;
}
.grade-lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 7vw;
}
.left-column {
    text-align: left;
}
.right-column {
    text-align: right;
}
#SAT ul li {
    color: #313131;
    font-weight: normal;
}
#learning-title {
    width: 80vw;
    margin: 5vh auto;
    padding: 3vw;
}
.italic {
    display: block;
    font-size: 3.7vw;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    margin: 3vw 4vw 5vw 4vw;
    line-height: 5.2vw;
}
#card-background {
    position: relative;
}
#horizontal-bar {
    height: 2vh;
    width: 100vw;
    position: absolute;
    top: 49%;
    z-index: -10;
}
.learning-divs {
    padding: 4vh 7vw;
}
.learning-divs p {
    text-align: center;
}
.learning-divs h3 {
    font-weight: 800
}
.icon {
    width: 20vw;
    display: block;
    margin: auto;
}
#language-learning p{
    color: #313131;
    font-weight: 600;
}

/** Media Queries **/
@media only screen and (min-width: 480px) {

    /** general **/
    h1 {
        font-size: 8vw;
    }
    h2 {
        font-size: 6vw;
    }
    h3 {
        font-size: 3.4vw;
    }
    p {
        font-size: 2.2vw;
    }
    ul li {
        font-size: 2vw;
    }
    
    
    /** specifics **/
    #grades-section {
        display: flex;
        width: 100%;
    }
    .grades-divs {
        padding: 3vw 2vw;
    }
    .grade-lists {
        margin-top: 3.5vw;
    }
    #grades {
        flex-grow: 1;
    }
    #ap-scores {
        flex-grow: 2;
    }
    #ap-scores li {
        font-size: 1.5vw;
        margin-bottom: 6px;
    }
    #SAT h3 {
        font-size: 2.8vw;
    }
}
@media only screen and (min-width: 650px) {
    
    /** desktop menu **/
    #menu-icon {
        display: none;
    }
    .menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 60%;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        float: right;
    }
    .menu a {
        display: block; 
        text-decoration: none;
        color: #313131;
        font-size: 1em;
        text-transform: uppercase;
    }
    .menu a:hover {
        color: #CC3734;
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }

}
@media only screen and (min-width: 900px) {
    .menu a {
        font-size: 1.3em;
    }
    
}

@media only screen and (min-width: 1000px) {
    
    
}
@media only screen and (min-width: 1400px) {
    
}