h3 {
    font-size: 2.5em;
}
body,html {
    overflow-x: hidden;
    width: 100vw;
}
/** General **/
.red {
    background-color: #CC3734;
}
.dark-gray {
    background-color: #707070;
}
.gray {
    background-color: #CBCACA;
}
ul li{
    list-style: none;
    color: #F1F1F1;
    font-size: 5vw;
    font-weight: lighter;
    margin-bottom: 12px;
}
ul {
    margin: 0;
    padding: 0;
}

/** specifics **/
.grades-divs {
    padding: 6vw 7vw;
}
.grade-lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 7vw;
}
.left-column {
    text-align: left;
}
.right-column {
    text-align: right;
}
#SAT ul li {
    color: #313131;
    font-weight: normal;
}
#learning-title {
    width: 80vw;
    margin: 5vh auto;
    padding: .6em;
}
.italic {
    display: block;
    font-size: 1em;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    margin: 1em 1.2em 1.3em 1.2em;
    line-height: 1.4em;
}
#card-background {
    position: relative;
}
#horizontal-bar {
    height: 2vh;
    width: 100vw;
    position: absolute;
    top: 49%;
    z-index: -10;
}
.learning-divs {
    padding: 4vh 7vw;
}
.learning-divs p {
    text-align: center;
}
.learning-divs h3 {
    font-weight: 800
}
.academics-icon {
    width: 20vw;
    display: block;
    margin: auto;
}
#language-learning p{
    color: #313131;
    font-weight: 600;
}

/** Accordian **/
.gallery {
    height: 200px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.book-covers {
    height: 160px;
    border: 10px #707070 solid;
    margin-right: 30px;
    transition: .25s;
    cursor: pointer;
}
.details {
    box-sizing: border-box;
    background-color: #313131;
    width: 100%;
    padding: 0 1em;
    overflow: hidden;
    max-height: 0;
    transition: .4s;
}
.details p {
    text-align: left;
    font-size: 1em;
}
.author {
    display: block;
    font-size: 1.1em;
    font-style: italic;
    font-weight: lighter;
    margin-top: .3em;
    color: #CBCACA;
}
.details h4 {
    color: #F1F1F1;
    text-transform: uppercase;
    font-weight: 800;
    margin: 0;
    margin-top: .7em;
    font-size: 2em;
}
.selected {
    border: 20px #313131 solid;
}

/** Expand **/
.expand-trigger {
    color: #313131;
    text-align: center;
    margin: 1em auto;
    cursor: pointer;
    background-color: #F1F1F1;
    font-weight: bold;
    width: 10em;
    padding: .5em 1em;
    border-radius: 15px;
}
.spanish-button {
    background-color: #CC3734;
    color: #F1F1F1;
}
.math-button {
    background-color: #313131;
    color: #F1F1F1;
}
.expand-trigger::before{
    content: "+ ";
}
.expand-trigger.triggered::before{
    content: "- ";
}
.expand-div {
    max-height: 0px;
    transition: .5s ease-in-out; 
    overflow: hidden;
}
.expand-cards {
    display: grid;
    grid-template-columns: 5em auto;
    align-items: center;
    background-color: #CBCACA;
    border-radius: 8px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, .2);
    overflow: hidden;
    margin-bottom: 1.5em;
    max-height: 110px;
}
#spanish-section .expand-cards {
    background-color: #313131;
    display: flex;
    align-items: center;
    padding: 1em;
}
.math-section .expand-cards {
    background-color: #313131;
}
.card-icon {
    width: 100%;
}
.expand-cards p {
    font-size: 1.1em;
    color: #313131;
    margin: 0;
    font-weight: 600;
}
#spanish-section .expand-cards p {
    color: #CBCACA;
}
.math-section .expand-cards p {
    color: #F1F1F1;
}
.expand-cards em {
    font-weight: 700;
    font-style: normal;
}
.expand-cards small {
    color: #313131;
    display: block;
    text-align: center;
}
#spanish-section .expand-cards small {
    display: inline; 
    color: #CBCACA;
    font-weight: normal;
}
/** Media Queries **/
@media only screen and (max-width: 360px) {
    html {
        font-size: 14px;
    }
}
@media only screen and (min-width: 560px) {

    /** general **/
    #grades-section h3 {
        text-align: center;
        font-size: 3.4vw;
    }
    ul li {
        font-size: 2vw;
    }
    
    
    /** specifics **/
    #grades-section {
        display: flex;
        width: 100%;
    }
    .grades-divs {
        padding: 3vw 2vw;
    }
    .grade-lists {
        margin-top: 3.5vw;
    }
    #grades {
        flex-grow: 1;
    }
    #ap-scores {
        flex-grow: 2;
    }
    #ap-scores li {
        font-size: 1.5vw;
        margin-bottom: 6px;
    }
    #SAT h3 {
        font-size: 2.8vw;
    }
    #learning-title {
        width: 60vw;
        max-width: 28em;
        margin: 5vh auto;
        padding: 3vw;
    }
    h2 {
        font-size: 4em;
        padding: 0;
    }
    p {
        line-height: 1.4em;
    }
}

@media only screen and (min-width: 675px) {
    .learning-divs {
        display: grid;
        grid-template-rows: 4em auto;
        grid-template-columns: 5em calc(86vw - 5em);
        grid-column-gap: 1.5em;
    }
    .details {
        padding: 0 3em;
    }
    .details h4 {
        margin-top: 1.2em;
    }
    .details p {
        margin-bottom: 3em;
    }
    .academics-icon {
        width: 100%;
        align-self: center;
        margin: 0;
    }
    h3 {
        text-align: left;
        margin: 0;
        align-self: center;
    }
    .text {
        grid-area: 2/2/3/3;
    }
    .learning-divs p {
        text-align: left;
    }
    #reading {
        grid-template-rows: 4em auto auto;
    }
    .accordian {
        grid-area: 3/2/4/3;
    }
    .expand-trigger {
        margin-left: 0;
    }
    .expand-div {
        display: grid; 
        grid-template-columns: repeat(auto-fit, 24em);
        grid-column-gap: 1em;
    }
    #spanish-section {
        grid-template-columns: 1fr 1fr;
    }
    .expand-cards {
        grid-column-gap: 1em;
    }
}
@media only screen and (min-width: 1500px) {
    .learning-divs {
        padding-left: 20vw;
        padding-right: 20vw;
        grid-template-columns: 5em calc(70vw - 5em);
    }
    .paragraph {
        padding-right: 10vw;
    }
    .expand-div {
        grid-template-columns: repeat(auto-fit, 18em);
    }
    .expand-cards p {
        font-size: .9em;
    }
    .expand-cards {
        grid-template-columns: 4em auto;
        max-height: 105px;
    }
}