
#guitar-section{
    background: #CC3734;
    padding: 10px 20px 10px 0px;
    display: grid;
    grid-template-columns: minmax(100px, 200px) minmax(60%, auto);
    min-height: 400px;
}
#guitar-section h3 {
    text-align: left;
    color: #313131;
}
#guitar-div{
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
#guitar {
    width: 200%;
    position: absolute;
    top: 0;  
    bottom: 0;  
    left: -50%;  
    right: 0;  
    margin: auto;
}
.horizontal-gallery-div {
    height: 200px;
    margin-top: 1.2em;
    background-color: #707070;
    display: flex;
    align-items: center;
    overflow-x: auto;
}
iframe {
    margin-left: 20px;
    height: 170px;
    border: none;
}
#music-video-section h4 {
    color: #F1F1F1;
    font-size: 25px;
    margin: .7em 0 0 1em;
}
.photography h3 {
    color: white;
}
.photography .side-picture-div {
    width: 60%;
    max-width: 300px;
    margin: 20px auto;
}
.photography {
    padding: .5em;
}
.photography p {
    text-align: center;
    margin: .8em 1.4em;
}
.lighter {
    font-weight: lighter;
}
.cinematography h3 {
    background-color: #CC3734;
    color: white;
    margin: 0;
    padding: 30px 0;
    font-size: 2.3em;
}
.cinema-camera {
    width: 40%;
    margin: 30px auto;
    max-width: 200px
}
.cinematography p {
    text-align: center;
    margin: 1em 2em;
}
.cinematography .text {
    background-color: #CC3734;
    padding: .2em;
}
.background {
    z-index: -10;
}
@media only screen and (max-width: 400px) {
    h1 {
        font-size: 20vw;
    }
}
@media only screen and (min-width: 700px) {
    .cinematography h3 {
        color: #313131;
    }
    .photography {
        display: grid;
        grid-template-columns: 2fr 5fr;
        grid-template-rows: 9em auto;
        grid-template-areas:"title paragraph"
                            "photo paragraph";
    }
    .photography h3 {
        grid-area: title;
        text-align: right;
        margin: 1em 0em 1em .2em;
    }
    .photography {
        padding: 0;
    }
    #photos-gallery {
        margin: 0;
    }
    .photography .side-picture-div {
        grid-area: photo;
        width: 100%;
        margin: 0;
        background-color: #707070;
        box-sizing: border-box;
        max-width: none;
    }
    #camera-icon {
        width: 60%;
        display: block;
        margin: 3em auto;
    }
    .photography .text {
        grid-area: paragraph;
    }
    .photography p {
        text-align: left;
        margin-top: 1.4em;
    }
    .cinematography {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "title picture"
                        "paragraph picture";
    }
    .cinema-camera {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        grid-area: picture;
        height: 100%;
        display: grid;
        -ms-flex-line-pack: center;
            align-content: center;
        margin: 0 auto;
    }
    .cinematography .background {
        background-color: #CC3734;
        grid-area: 1/1/3/2;
    }
    .cinematography h3 {
        background: none;
        grid-area: title;
        text-align: left;
        margin-left: 1em;
        font-size: 2.6em;
    }
    .cinematography .text {
        grid-area: paragraph;
    }
    .cinematography p {
        text-align: left;
        margin-top: 0;
    }
}
@media only screen and (min-width: 900px) {
    .photography h3 {
        margin: .5em 0 .5em .3em;
    }
    .photography {
        grid-template-rows: 7em auto;
    }
}

@media only screen and (min-width: 1000px) {
    #guitar-section {
        background: none;
        grid-template-columns: 260px minmax(60%, auto);
        padding-right: 0;
        padding: 0;
    }
    #guitar-text {
        background: url("../graphics/skewed-div.svg") no-repeat;
        background-size: cover;
        padding: 50px 40px 60px 70px;
    }
    #guitar {
        top: -170px;
        left: -160px;
        width: 230%;
    }
    #camera-icon {
        margin-top: 1em;
    }
    .horizontal-gallery-div {
        margin: 0;
    }
    #music-video-section {
        position: relative;
    }
    #music-video-section h4 {
        position: absolute; 
        margin-left: 30px;
        top: -60px;
    }
    
}
@media only screen and (min-width: 1210px) {
    #guitar-text {
        padding-right: 4em;
    }
    
}
@media only screen and (min-width: 1400px) {
    
    .photography .text{
        padding: 0 2em;
    }
    #guitar-section {
        background: none;
        grid-template-columns: 300px minmax(60%, auto);
        padding-right: 0;
        padding: 0;
    }
    #guitar {
        top: -220px;
        left: -190px;
        width: 230%;
    }
}
@media only screen and (min-width: 1700px) {
    #guitar-section {
        background: none;
        grid-template-columns: 500px minmax(60%, auto);
        padding-right: 0;
        padding: 0;
    }
    #guitar {
        top: -220px;
        left: -150px;
        width: 160%;
    }
}