
body {
    background-color: #313131;
    font-family: "Open Sans";
    margin: 0;
}
body::-webkit-scrollbar { 
    display: none; 
}
h1 {
    color: #CBCACA;
    font-size: 3em;
    font-weight: 200;
    display: block;
    width: 17em;
    margin: auto;
    margin-top: 22vh;
    text-align: center;
}
#road-animation {
    margin: 40px 0px;
    width: 1600px;
}
.road-stripe{
    height: 10px;
    background-color: #CBCACA;
}
#nav-background {
    position: absolute;
    top: 60vh;
    width: 100%;
    overflow:hidden;
}
nav {
    position: absolute;
    top: 60vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.icon-div {
    position: relative;
    top: -18px;
    width: 160px;
    z-index: 1;
    margin: 0 30px;
}
.circle {
    position: absolute;
    width: 100%;
}
.icon {
    width: 100%;
    position: relative;
}
.caption{
    position: absolute;
    top: 170px;
    left: 28px;
    color: #CBCACA;
    font-size: 1.4em;
    display: none;
    width: 110px;
    text-align: center;
    
}
.icon-div:hover .icon{
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
} 
.icon-div:hover .caption {
    display: block;
}
#guitar-icon{
    width: 105%;
    top: -55px;
    left: 23px;
} 
#book-icon{
    width: 67%;
    top: 41px;
    left: 27px;
}
#coding-icon{
    width: 63%;
    top: 38px;
    left: 29px;
}
#experience-icon {
    width: 60%;
    top: 30px;
    left: 32px;
}
@media only screen and (min-width: 1500px) {
    #road-animation {
        width: 100%;
    }
    h1 {
        font-size: 3.7em;
    }
}
@media only screen and (max-width: 1000px) {
    .icon-div{
        width: 100px;
        margin: 0 15px;
    }
    .caption {
        position: absolute;
        top: 110px;
        left: -5px;
        color: #CBCACA;
        font-size: 1.2em;
        width: 110px;
        text-align: center;
        display: none;
    }
    #book-icon{
        top: 25px;
       left: 17px;
    }
    #guitar-icon{
        top: -34px;
        left: 13px;
    }
    #coding-icon {
        top: 25px;
        left: 18px;
    }
    #experience-icon {
        top: 20px;
        left: 20px;
    }
    .road-stripe{
        height: 5px;
    }
    #road-animation {
        width: 1000px;
        margin-top: 15px;
        margin-bottom: 18px;
    }
    h1{
        width: 70%;
        margin-top: 20vh;
        font-size: 2.7em;
    }
}
@media only screen and (max-width: 530px) {
    h1 {
        margin-top: 10vh;
        font-size: 2.3em;
    }
    #nav-background {
        top: 35vh;
    }
    .caption {
        top: 100px;
    }
    nav{
        top: 56vh;
        width: 300px;
        left: 50%;
        margin-left: -150px;
    }
    
}
@media only screen and (max-width: 425px) {
    h1 {
        font-size: 1.8em;
        margin-top: 7vh;
    }
}
@media only screen and (max-width: 370px) {
    h1 {
        font-size: 1.5em;
    }
}
@media only screen and (max-height: 550px) {
    h1 {
        font-size: 2em;
    }
}