main {
    max-width: 1700px;
    margin: auto;
}
h1 {
    margin-bottom: .6rem;
}
h3 {
    color: white;
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 800;
    text-align: left;
    margin: 0;
}
#description {
    margin-bottom: 0;
}
section {
    font-size: 1rem;
    margin: 1.5em .8em;
    position: relative;
    padding: 1px;
}
.projects-icon {
    width: 100%;
}
.projects-icon-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 8em;
}
.background {
    background-color: #CC3734;
    margin-top: 4em;
    margin-left: 2.4em;
    border-radius: 45px;
    padding: 4.5em .6em 1em 2em;
}
#spaced-repetition .projects-icon-div {
    right: 0;
    left: auto;
}
#spaced-repetition .background {
    background-color: #707070;
    margin-right: 1.8em;
    margin-left: 0;
}
.light-text {
    font-weight: lighter;
    font-size: 1.1em;
}
.chart {
    width: 100%;
    position: relative;
    height: 350px;
}
#back-arrow {
    position: absolute;
    width: 50px;
    height: 33px;
    top: 5px;
    left: 0;

    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px;

    transition: .5s ease;

    cursor: pointer;
}
.hidden {
    opacity: 0;
    transform: translateX(-50px);
}
#back-arrow:hover {
    background-color: #313131;
}

@media only screen and (max-width: 350px) {
    html {
        font-size: 15px;
    }
}
@media only screen and (max-width: 450px) {
    h1 {
        font-size: 18vw;
    }
}
@media only screen and (min-width: 600px) {
    section {
        margin: 1.5em 2em;
    }
}
@media only screen and (min-width: 800px) {
    #time-tracking .background {
        display: grid;
        grid-template-columns: auto 300px;
        grid-template-rows: auto auto auto;
        grid-template-areas: "title title"
                             "light light"
                             "p chart"
    }
    #time-tracking h3 {
        grid-area: title;
    }
    #time-tracking .light-text {
        grid-area: light;
    }
    #time-tracking p {
        grid-area: p;
    }
    .chart {
        height: 300px;
    }
}
@media only screen and (min-width: 1000px) {
    section {
        width: 85%;
        margin: 1.5em auto;
    }
    #time-tracking .background {
        grid-template-columns: auto 25em;
    }
    .chart {
        height: 350px;
        padding: 0 1em;
        box-sizing: border-box;
    }
}