:root {
  --blk: #333;
  --d-gry: #777;
  --m-gry: #aaa;
  --l-gry: #ddd;
  --wht: #fafafa;
  --shadow: 0 5px 10px #000000aa;
  --margins: 20px;
  --padding: 10px;
  --radius: 5px;

  --accent: #ff8200;
  --good: #373;
  --warn: #663;
  --bad: #733;
}

html {
  height: 100%;
}

.manual img {
  width: 100%;
}

body {
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: #222831;
  font-family: arial;
}

h1 {
  color: #eee;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 50px;
}

.instructions {
  color: #595e66;
  line-height: 25px;
  margin-top: 50px;
}

#timeline-bg {
  height: 10rem;
  width: 800px;
  background-color: #393e46;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px 10px rgb(0 0 0 / 10%);
  position: relative;
  padding: 15px 60px;
  box-sizing: border-box;
}

#playhead-container {
  position: absolute;
  margin-left: 60px;
}

.keyframe {
  position: absolute;
  margin-left: 65px;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background-color: #eee;
  margin-top: 45px;
  transform: rotate(45deg);
  cursor: move;
}

.keyframe:hover {
  background-color: #d65a31;
  transform: scale(1.4) rotate(45deg);
  transition: all 0.5s;
}

#playhead-head {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #d65a31;
  border-radius: 1rem;
  cursor: move;
}

#playhead-head:hover {
  transform: scale(1.4);
  transition: transform 0.5s;
}

#playhead-line {
  height: 6rem;
  width: 2px;
  background-color: #d65a31;
  margin-left: 9px;
}

#ruler {
  display: flex;
  color: #aaa;
  font-weight: bold;
  margin-left: 9px;
  margin-bottom: 10px;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.button {
  padding: 10px 15px;
  background-color: #393e46;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px 10px rgb(0 0 0 / 5%);
  margin-right: 20px;
  cursor: pointer;
}

#keyframe-icon {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #eee;
  transform: rotate(45deg);
  margin-top: 4px;
}

#playback-icon {
  width: 0;
  height: 0;
  border-left: 20px solid #eee;
  border-bottom: 15px solid transparent;
  border-top: 15px solid transparent;
  border-radius: 3px;
}

.second-mark {
  margin-right: 50px;
}

.card {
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding: var(--padding);
}

#test-view {
  grid-area: tests;
}

#test-view > ol {
  list-style-type: none;
  display: grid;
  padding: 0;
  align-items: start;
  grid-template-columns: repeat(auto-fill, minmax(4in, 1fr));
  grid-column-gap: var(--margins);
  grid-row-gap: var(--margins);
}

#test-view > ol > li {
  margin-left: 0;
}

#test-view > ol > li:focus-within {
}

#test-view button {
  width: 20%;
}

.failed {
  background-color: var(--bad);
  color: var(--wht);
}

.passed {
  background-color: var(--good);
  color: var(--wht);
}
.manual {
  background-color: var(--warn);
  color: var(--wht);
}

.container {
  position: relative;
}

#glCanvas {
  border: 1px solid var(--m-gry);
  grid-area: canvas;
  padding: 0;
}

#textCanvas {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
}
