html {
    font-size: 16px;
}
body {
    background-color: #313131;
    font-family: 'Open Sans';
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: 315px;
}

/* Navigation */
nav {
    position: fixed;
    top: 0px;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #CBCACA;
    padding: .3em;
    padding-right: 1.4em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0px 3px 15px rgba(0,0,0,.2);
            box-shadow: 0px 3px 15px rgba(0,0,0,.2);
    z-index: 10;
}
nav figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px 20px;
}
.menu {
    display: none;
}
#menu-icon{
    width: 40px;
    height: 30px;
    cursor: pointer;
    margin-left: auto;
    z-index: 10;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
  
  #menu-icon span{
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #313131;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #menu-icon span:nth-child(1) {
    top: 0px;
  }
  
  #menu-icon span:nth-child(2) {
    top: 13px;
  }
  
  #menu-icon span:nth-child(3) {
    top: 26px;
  }
  
  #menu-icon.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  #menu-icon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  
  #menu-icon.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  #menu-icon.open span{
      background-color: #CBCACA;
  }
#profile-pic{
    height: 50px;
}
#name {
    text-decoration: none;
    font-weight: bold;
    color: #313131;
    font-size: 25px;
    padding-left: 7px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 126px;
}
/**mobile**/
#mobile-menu {
    display: none;
}
.icon-div {
    position: relative;
    width: 100px;
    margin: 0 15px;
    z-index: 1;
    height: 140px;
}
.circle {
    position: absolute;
    width: 100%;
}
.icon {
    width: 100%;
    position: relative;
}
.caption{
    position: absolute;
    top: 100px;
    left: -5px;
    color: #CBCACA;
    font-size: 1.2em;
    width: 110px;
    text-align: center;
    display: block;
    
}
#guitar-icon{
    width: 105%;
    top: -34px;
    left: 13px;
} 
#book-icon{
    width: 67%;
    top: 25px;
   left: 17px;
}
#coding-icon{
    width: 63%;
    top: 25px;
    left: 18px;
}
#experience-icon {
    width: 60%;
    top: 20px;
    left: 20px;
}
.active {
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.8);
}

/** General **/
h1{
    color: #F1F1F1;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0px;
    font-size: 16vw;
}
h2 {
    color: white;
    font-weight: 800;
    font-size: 2.8em;
    text-align: center;
    margin: 0;
    padding-top: .3em;
}
h3 {
    color:  #313131;
    font-size: 2.8em;
    margin: .4em 0 0 0;
    text-align: center;
}
p {
    color: white;
    font-size: 1.2em;
    line-height: 1.3em;
}

/** specifics **/
#description {
    display: block;
    color: #CBCACA;
    text-align: center;
    margin-left: 3em;
    margin-top: 0;
    margin-bottom: 2em;
}
#profile-link {
    display: block;
    text-decoration: none;
}

/*** Media Queries ***/
@media only screen and (min-height: 640px) {
    .icon-div {
        height: 150px;
    }
}
@media only screen and (min-width: 450px){
    h1{
        font-size: 4.8em;
    }
}
@media only screen and (min-width: 610px) {
    p {
        font-size: 1.3em;
    }
}
@media only screen and (min-width: 740px) {
    html {
        font-size: 18px;
    }
    #menu-icon {
        display: none;
    }
    .menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 60%;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        float: right;
    }
    .menu a {
        display: block; 
        font-weight: 700;
        text-decoration: none;
        color: #313131;
        text-transform: capitalize;
    }
    .menu a:hover {
        color: #CC3734;
        transition: .3s;
    }
}
@media only screen and (min-width: 900px) {
    html {
        font-size: 20px;
    }
    p {
        font-size: 1.2em;
    }
    h1 {
        font-size: 5em;
    }
}
@media only screen and (min-width: 1000px) {
    h1 {
        margin-top: 120px;
    }
}
@media only screen and (min-width: 1400px) {
    html {
        font-size: 22px;
    }
    h1 {
        font-size: 6em;
    }
}
@media only screen and (min-width: 1700px) {
    html {
        font-size: 24px;
    }
    .menu a {
        font-size: .9em;
    }
}