/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Open Sans', sans-serif;
    @apply p-5 pt-5
}

@layer components {
  .link {
    @apply underline underline-offset-[3px] decoration-neutral-400 dark:decoration-neutral-500;
    @apply hover:text-black hover:decoration-black transition-colors;
    @apply dark:hover:text-white dark:hover:decoration-white;
  }
}

